.contHead {
  display: flex;
  margin: 0 15%;
  justify-content: space-between;
  align-items: center;
  h1 {
    color: greenyellow;
    text-align: center;
  }
  p {
    color: white;
    font-size: 50px;
    font-weight: bolder;
    span {
      color: black;
      background-color: greenyellow;
      padding: 5px;
      border-radius: 100%;
    }
  }
}

.contBody {
  display: flex;
  margin: 0 10% 3% 5%;
  justify-content: space-around;
  text-align: center;
}
.contFooter {
  text-align: center;
  p {
    margin: 0;
    &:nth-child(1) {
      background-color: greenyellow;
      color: black;
      font-weight: bold;
      padding: 10px;
      font-size: 25px;
    }
    &:nth-child(2) {
      background-color: rgb(20, 20, 20);
      color: gray;
      padding: 25px;
    }
  }
}
